Source: stsbl-iserv-terminal-server-support
Section: misc
Priority: optional
Maintainer: Stadtteilschule Blankenese <repository@stsbl.de>
Build-Depends: debhelper (>= 10)
Build-Depends-Indep: iserv-buildtools
Standards-Version: 4.4.1
Homepage: https://it.stsbl.de/documentation/mods/stsbl-iserv-terminal-server-support

Package: stsbl-iserv-terminal-server-support
Architecture: all
Depends: ${misc:Depends},
  ${perl:Depends},
  iserv-portal,
  libpath-tiny-perl,
  stsbl-iserv-samba-local-session-log,
Xb-Private-IServ-Revision: ${iserv:Revision}
Description: Terminalserver-Unterstützung für IServ (EXPERIMENTELL)
 Dieses Modul bietet verbesserte Unterstützung für Terminalserver im
 Dateiserver (Samba) und umgeht das Problem,  das in zwei
 parallelen Terminalserver-Sitzungen im Laufwerk H: nicht zwei Dateien mit dem
 selben Namen geöffnet werden können. 
 .
 Für detaillierte Erläurungen zur Problematik von IServ im Zusammenhang mit
 Terminalservern und wie das Modul diese behebt, schauen Sie bitte auf die
 Homepage des Moduls.
 .
 Für die Einrichtung müssen in iservcfg >
 Modul: Terminalserver-Unterstützung > Terminalserver-IPs die  IP-Adressen der
 Geräte, die als Terminalserver agieren, eingetragen werden.
Tag: suite::iserv:portal, role::plugin, implemented-in::perl, status::highlighted, status::experimental
